{{#each this}}
  <li class='country-name'>
    <img class='country-flag' src='{{flags.svg}}' alt='flag country' height='20' width='30' />
    {{name.official}}</li>
  <li class='country-item'>Capital: <span>{{capital}}</span></li>
  <li class='country-item'>Population: <span>{{population}}</span></li>
  <li class='country-item'>Languages: {{#each languages}}<span>{{this}} </span>{{/each}}</li>
{{/each}}